.login_container{
  height: 100vh;
  width:100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_box{
  width: 80%;
  padding: 1%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}
.login_input{
  padding: 2%;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 80%;
  font-size: x-large;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login_button{
  padding: 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
  width: 30%;
  font-weight: bolder;
  font-size: x-large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px;
  cursor: pointer;
}
.google-login{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: blue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.google-icon{
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 40px;
  height: 40px;
}
.login-text{
  font-size:larger;
  color: white;
  font-weight: bolder;
  padding: 10px;
}
.login_error{
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
